In [33]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import time

In [34]:
# 数据读取前1million
file_path =r"UserBehavior.csv"
data=pd.read_csv(file_path,nrows = 1000000)
data.columns=['User_Id','Item_Id','Category_Id','Behavior_type','Timestamp']
data.head(5)

   User_Id  Item_Id  Category_Id Behavior_type   Timestamp
0        1  2333346      2520771            pv  1511561733
1        1  2576651       149192            pv  1511572885
2        1  3830808      4181361            pv  1511593493
3        1  4365585      2520377            pv  1511596146
4        1  4606018      2735466            pv  1511616481

In [35]:
# 一、数据读取和数据清洗
# 1.检查空值 ---检查结果数据无空值
print(pd.isnull(data["Timestamp"]).value_counts())
print(pd.isnull(data["Item_Id"]).value_counts())

False    1000000
Name: Timestamp, dtype: int64
False    1000000
Name: Item_Id, dtype: int64

In [36]:
# 2.检查异常值
# 1）Timestamp存在负值
print(data[data["Timestamp"]<0])
data = data[data["Timestamp"]>0]
# 2）Behavior_type存在异常值
print(data["Behavior_type"].value_counts())
data = data[data["Behavior_type"]!="3"]
# 3）检查异常处理结果
print(data[data["Timestamp"]<0])
print(data["Behavior_type"].value_counts())

print(data.info())  # [19999969 rows x 5 columns]
data.head()

Empty DataFrame
Columns: [User_Id, Item_Id, Category_Id, Behavior_type, Timestamp]
Index: []
pv      896106
cart     55447
fav      28088
buy      20359
Name: Behavior_type, dtype: int64
Empty DataFrame
Columns: [User_Id, Item_Id, Category_Id, Behavior_type, Timestamp]
Index: []
pv      896106
cart     55447
fav      28088
buy      20359
Name: Behavior_type, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000000 entries, 0 to 999999
Data columns (total 5 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   User_Id        1000000 non-null  int64
 1   Item_Id        1000000 non-null  int64
 2   Category_Id    1000000 non-null  int64
 3   Behavior_type  1000000 non-null  object
 4   Timestamp      1000000 non-null  int64
dtypes: int64(4), object(1)
memory usage: 45.8+ MB
None

   User_Id  Item_Id  Category_Id Behavior_type   Timestamp
0        1  2333346      2520771            pv  1511561733
1        1  2576651       149192            pv  1511572885
2        1  3830808      4181361            pv  1511593493
3        1  4365585      2520377            pv  1511596146
4        1  4606018      2735466            pv  1511616481

In [37]:
# 4.去除重复数据
print(data.duplicated().value_counts())
data=data.drop_duplicates(subset=['User_Id','Item_Id','Category_Id','Behavior_type','Timestamp'],keep='first')
print(data.duplicated().value_counts())

False    1000000
dtype: int64
False    1000000
dtype: int64

In [38]:
#删除时间戳
#cleaned_data.drop(columns = 'Timestamp',axis = 1,inplace = True)

In [46]:
#编码行为
#点击=1 收藏=2 购物车 =3 购买=4 无行为 =0
data.loc[data['Behavior_type']=='pv', 'Behavior_type'] = 1
data.loc[data['Behavior_type']=='fav', 'Behavior_type'] = 2
data.loc[data['Behavior_type']=='cart', 'Behavior_type'] = 3
data.loc[data['Behavior_type']=='buy', 'Behavior_type'] = 4
data.head()

   User_Id  Item_Id  Category_Id Behavior_type   Timestamp
0        1  2333346      2520771             1  1511561733
1        1  2576651       149192             1  1511572885
2        1  3830808      4181361             1  1511593493
3        1  4365585      2520377             1  1511596146
4        1  4606018      2735466             1  1511616481

In [47]:
# 5.预处理数据保存
data.to_csv(r'cleaned_data_1000_000_1.csv', encoding = 'utf-8', index = False)
print(data.duplicated().value_counts())

False    1000000
dtype: int64

In [ ]:
print(type(data))